.table {
  width: 100%;
}

.table-item {
  display: grid;
  grid-template-columns: 5% 30% 20% 15% 15% 15%;
}

.table-item span {
  justify-self: start;
}

.table-item .ascending::after {
  content: ' \02C4';
}

.table-item .descending::after {
  content: ' \02C5';
}
