.table {
  width: 97%;
  margin: auto;
  border: 1px solid grey;
}

.categories span {
  cursor: pointer;
}

.table-item {
  margin: 0;
  display: grid;
  grid-template-columns: 5% 30% 22% 14% 14% 15%;
}
.table-item:nth-child(even) {
  background-color: lightgray;
}

.table-item span {
  font-size: 15px;
  margin: 5px 5px;
  justify-self: start;
}

.table-item .ascending::after {
  content: ' \02C4';
}

.table-item .descending::after {
  content: ' \02C5';
}

@media (max-width: 925px) {
  .table-item span {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .table-item {
    display: grid;
    grid-template-columns: 8% 52% 19% 21%;
  }
}

@media (max-width: 550px) {
  .table-item span {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .table-item span {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .table-item span {
    font-size: 10px;
  }
}
