.pagination {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.pages {
  display: flex;
  margin: 0;
  padding: 0;
}

.page-item {
  padding: 0 5px;
  margin-left: 3px;
}

.page-item:hover {
  color: blue;
  cursor: pointer;
}

.active {
  color: darkred;
}

@media (max-width: 800px) {
  .pagination {
    width: 65%;
  }
}

@media (max-width: 525px) {
  .pagination {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .pages {
    font-size: 10px;
  }
}
